<div class="row content-card">
  <div class="col-md-3 col-lg-2">
      <a href="{{ video.link }}" target="_blank"><img class="book-thumbnail thumbnail" src="{{ video.thumbnail }}" alt="video thumbnail" /></a>
  </div>
  <div class="col-md-9 col-lg-10">
    <h3 class="content-title">
        <a class="content-title-link" href="{{ video.link }}" target="_blank">{{ video.title }}</a>
    </h3>
    <p>
      {{ video.description }}<br />
      <a class="content-text-link" href="{{ video.link }}" target="_blank">Watch video</a>
    </p>
  </div>
</div>