{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="bg-color-brand-1 col-md-6">blah blah blah!</div>
    <div class="col-md-6">
      <h1>You are on the homepage.</h1>
      {% if user.is_authenticated %}
        <h2>Welcome {{ user.username }}</h1>
        <a href="/logout" class="btn btn-lg btn-primary">Logout</a>
      {% endif %}

      {% if user.is_authenticated is not True %}
      <hr />
      <h2>REGISTRATION FORM</h2>
      <form action="." method="POST">
        {% csrf_token %}
        {{ registration_form|crispy }}
        <button type='submit' name='submit' value='register' class="btn btn-lg btn-primary">Sign Up</button>
      </form>
      <hr />
      <h2>LOGIN FORM</h2>
      <form action="." method="POST">
        {% csrf_token %}
        {{ login_form|crispy }}
        <button type='submit' name='submit' value='login' class="btn btn-lg btn-primary">Login</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}